<section onload="initialisation('selection')">

    <canvas id="canvas"></canvas>

    <span id="bouton-melange" onclick="initialisation('selection')">
        Tableau aléatoire
    </span>

    <span id="bouton-melange" onclick="croissant('selection')">
        Tableau croissant
    </span>

    <span id="bouton-melange" onclick="decroissant('selection')">
        Tableau décroissant
    </span>

    <p>
        <span id="bouton-lancer"
            onclick="initialisation('selection',document.getElementById('tableau').value)">
            Trier votre tableau
        </span>
        <input type="text" id="tableau" placeholder="[valeur1, valeur2,...]" value="[3,4,1,2]">
    </p>

    <script>
        $().ready(() => {
            setTimeout(
                initialisation('selection'),
                500)
        }
        );
    </script>
</section>